In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.axes
from pathlib import Path

# Add project root to Python path
project_root = Path().resolve().parent
sys.path.insert(0, str(project_root))

In [2]:
import src.loadProcessed as loadp

counts: pd.DataFrame = loadp.load_processed_count()
locations: pd.DataFrame = loadp.load_processed_locations()

In [3]:
# Take the intersection of those sets
common_sensors = (
    set(counts[counts['sensing_date'].dt.year == 2019]['sensor_id'].unique()) 
    & set(counts[counts['sensing_date'].dt.year == 2022]['sensor_id'].unique())
)

# Filter to only those sensors
counts_with_common_dates = counts[counts['sensor_id'].isin(common_sensors)]

# Limit to only 2019 and 2022 with non-zero values
data: pd.DataFrame = (
    counts_with_common_dates[
        counts_with_common_dates['sensing_date'].dt.year.isin([2019, 2022])
    ].query('daily_count > 0')
)
data['year'] = data['sensing_date'].dt.year.astype('category')
data.drop(columns=['sensing_date'])

       sensor_id        day  daily_count  year
3034           1    Tuesday        26865  2019
3035           1  Wednesday        33517  2019
3036           1   Thursday        35470  2019
3037           1     Friday        22161  2019
3038           1   Saturday        31611  2019
...          ...        ...          ...   ...
178143        62   Thursday         4079  2022
178144        62     Friday         4310  2022
178145        62   Saturday         4027  2022
178146        62     Sunday         4150  2022
178147        62     Monday         3537  2022

[32289 rows x 4 columns]

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy.highlevel as phl
import math

# We want to log transform since counts have a power relation
log_data = data.copy()
log_data['daily_count'] = log_data['daily_count'].apply(math.log)

model = smf.mixedlm(
    'daily_count ~ year + day',     # Defines the response and fixed effects
    log_data,                       
    groups=log_data['sensor_id'],   # Defines how to cluster the data
    re_formula='~ year'             # Random effect that differs across the clusters
)

result = model.fit()
print(result.summary())

random_effects = result.random_effects
print(random_effects)

               Mixed Linear Model Regression Results
====================================================================
Model:                 MixedLM    Dependent Variable:    daily_count
No. Observations:      32289      Method:                REML
No. Groups:            53         Scale:                 0.1850
Min. group size:       132        Log-Likelihood:        -18913.5765
Max. group size:       669        Converged:             Yes
Mean group size:       609.2
--------------------------------------------------------------------
                         Coef.  Std.Err.    z    P>|z| [0.025 0.975]
--------------------------------------------------------------------
Intercept                 9.298    0.118  78.535 0.000  9.066  9.530
year[T.2022]             -0.415    0.044  -9.438 0.000 -0.501 -0.329
day[T.Monday]            -0.225    0.009 -25.126 0.000 -0.243 -0.208
day[T.Saturday]          -0.164    0.009 -18.293 0.000 -0.181 -0.146
day[T.Sunday]            -0.358    0.009 -39.946 0.000 -0.376 -0.340
day[T.Thursday]          -0.067    0.009  -7.468 0.000 -0.085 -0.049
day[T.Tuesday]           -0.121    0.009 -13.474 0.000 -0.138 -0.103
day[T.Wednesday]         -0.080    0.009  -8.860 0.000 -0.097 -0.062
Group Var                 0.740    0.338
Group x year[T.2022] Cov -0.066    0.092
year[T.2022] Var          0.101    0.047
====================================================================

{np.int64(1): Group           1.221299
year[T.2022]   -0.161938
dtype: float64, np.int64(2): Group           0.868015
year[T.2022]   -0.196331
dtype: float64, np.int64(3): Group           1.117262
year[T.2022]    0.147232
dtype: float64, np.int64(4): Group           1.291683
year[T.2022]    0.089072
dtype: float64, np.int64(5): Group           1.064596
year[T.2022]    0.075370
dtype: float64, np.int64(6): Group           1.269886
year[T.2022]   -0.179813
dtype: float64, np.int64(7): Group          -0.416325
year[T.2022]   -0.183144
dtype: float64, np.int64(8): Group          -0.692920
year[T.2022]    0.139851
dtype: float64, np.int64(9): Group           0.245746
year[T.2022]   -0.503712
dtype: float64, np.int64(10): Group          -0.928817
year[T.2022]   -0.585416
dtype: float64, np.int64(11): Group          -1.913332
year[T.2022]    0.954880
dtype: float64, np.int64(12): Group          -0.589015
year[T.2022]    0.252332
dtype: float64, np.int64(14): Group           0.123045
year[T.2022]   -0.050776
dtype: float64, np.int64(17): Group           0.071901
year[T.2022]   -0.109087
dtype: float64, np.int64(18): Group          -0.357998
year[T.2022]   -0.350302
dtype: float64, np.int64(19): Group           0.390682
year[T.2022]   -0.009989
dtype: float64, np.int64(20): Group           0.045273
year[T.2022]   -0.095478
dtype: float64, np.int64(21): Group           0.510957
year[T.2022]   -0.026837
dtype: float64, np.int64(23): Group          -0.094451
year[T.2022]   -0.124115
dtype: float64, np.int64(24): Group           1.209370
year[T.2022]   -0.294536
dtype: float64, np.int64(25): Group           0.643751
year[T.2022]    0.371932
dtype: float64, np.int64(26): Group           0.408999
year[T.2022]   -0.066861
dtype: float64, np.int64(27): Group          -1.027894
year[T.2022]    0.150223
dtype: float64, np.int64(28): Group           1.007318
year[T.2022]   -0.121258
dtype: float64, np.int64(29): Group           0.064991
year[T.2022]   -0.239120
dtype: float64, np.int64(30): Group           0.271099
year[T.2022]    0.024288
dtype: float64, np.int64(31): Group          -0.516725
year[T.2022]    0.136740
dtype: float64, np.int64(35): Group           1.116843
year[T.2022]    0.363495
dtype: float64, np.int64(36): Group          -0.302327
year[T.2022]   -0.086858
dtype: float64, np.int64(37): Group          -1.020918
year[T.2022]    0.080917
dtype: float64, np.int64(39): Group          -0.570402
year[T.2022]   -0.349207
dtype: float64, np.int64(40): Group          -0.319104
year[T.2022]   -0.120729
dtype: float64, np.int64(41): Group           1.585209
year[T.2022]    0.100137
dtype: float64, np.int64(42): Group          -0.596242
year[T.2022]   -0.139950
dtype: float64, np.int64(43): Group          -1.010209
year[T.2022]   -0.142749
dtype: float64, np.int64(44): Group          -1.659331
year[T.2022]   -0.214193
dtype: float64, np.int64(45): Group           0.820681
year[T.2022]   -0.021726
dtype: float64, np.int64(46): Group          -1.502561
year[T.2022]    0.020658
dtype: float64, np.int64(47): Group           0.884921
year[T.2022]    0.132951
dtype: float64, np.int64(48): Group          -0.411990
year[T.2022]   -0.008616
dtype: float64, np.int64(49): Group          -0.849057
year[T.2022]    0.086886
dtype: float64, np.int64(50): Group          -0.399478
year[T.2022]    0.137837
dtype: float64, np.int64(51): Group          -1.097856
year[T.2022]    0.201811
dtype: float64, np.int64(52): Group           0.061552
year[T.2022]   -0.209946
dtype: float64, np.int64(53): Group           0.575943
year[T.2022]   -0.059957
dtype: float64, np.int64(54): Group          -1.014582
year[T.2022]    0.262538
dtype: float64, np.int64(55): Group           0.901757
year[T.2022]   -0.021098
dtype: float64, np.int64(56): Group          -0.195055
year[T.2022]    0.131186
dtype: float64, np.int64(57): Group           0.526216
year[T.2022]   -0.664854
dtype: float64, np.int64(58): Group           0.672885
year[T.2022]   -0.132868
dtype: float64, np.int64(59): Group          -0.750873
year[T.2022]    1.271516
dtype: float64, np.int64(61): Group           0.241094
year[T.2022]   -0.118720
dtype: float64, np.int64(62): Group          -0.975511
year[T.2022]    0.458333
dtype: float64}